/* =======================================================================
 * Global
 * ======================================================================= */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #1982d1;
}

a:hover {
  text-decoration: underline;
}

a:active, a:visited {
  color: #11609d;
}

/* =======================================================================
 * Helpers
 * ======================================================================= */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* =======================================================================
 * Media queries
 * ======================================================================= */

/* targets xs */
@media (max-width: 767px) {



}

/* excludes xs */
@media (min-width: 768px) {



}

/* targets sm */
@media (min-width: 768px) and (max-width: 991px) {



}

/* excludes xs, sm */
@media (min-width: 992px) {



}

/* targets md */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* targets lg */
@media (min-width: 1200px) {



}

@media print {



}

/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */



/* =======================================================================
 * Section
 * ======================================================================= */
